<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Dustin's Guitars" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    
  </head>

  <body id="body">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><%= link_to "Dustin's Guitars", root_url %></li>
      </ul>
      <ul class="left">
        <li class="has-dropdown">
          <% @categories.each do |category| %>
          
            <a href="#" data-dropdown="hover<%= category.id %>" class="button" data-options="is_hover:true"><%= category.name %></a>

            <ul id="hover<%= category.id %>" class="f-dropdown" data-dropdown-content>
              <% category.subcategories.each do |sub| %>
                <li><a href="#"><%= link_to sub.name, sub %></li>
              <% end %>
            </li>
          </ul>
        <% end %>
        <%= link_to "View Cart", order_create_path, :class => "button" %>
      </ul>
      <ul class="right">
        <li>
          <%= render "products/search" %>
        </li>
      </ul>
    </nav>

      <div id="wrapper" class="row">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
